@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');
/*@media (max-width: 1000px){
	.container{
		width: auto;
	}
	.menu{
		display: block;
	}
	.mezhtxt1-right, .mezhtxt1-left{
	width: 300px;
	}
}*/

::-webkit-scrollbar{
	width: 2px;
	background: black;
}
::-webkit-scrollbar-thumb{
	background: white;
}
::-webkit-scrollbar-thumb:hover{
	background: white;
}
::-webkit-scrollbar:hover{
	width: 11px;
}

*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding:0;
	font-family: 'Anton', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
a{
	text-transform: uppercase;
	text-decoration: none;
}
.container{
	width: 1170px;
	margin: 0 auto; 
}
.mgh{
	height: 100vh;
}
.box{
	width: 100px;
	height: 100px;
	background: red;
	margin-top: 30px;
}
.header{
	background: url('../hmedia/play.png') no-repeat center / cover;
	background-attachment: fixed;
}
header a, header ul li{
	color: #fff;
	transition: 0.5s;
	transform: scale(1.0);
}
header a:hover, header ul li:hover{
	transition: 0.5s;
	color: cyan;
	transform: scale(1.025);
}
.logo{
	margin-right: 69px;
	filter: invert(100%);
	border: 2px solid white;
	border-style: groove;
	padding: 5px;
	animation-name: logo;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-timing-function: steps(3600);
}
@keyframes logo{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(361deg);
	}
}
.menu{
	display: flex;
}
.menu li a{
	letter-spacing: 0.1em;
}
.menu li{
	margin-right: 40px;
}
.tel{
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 0.1em;
	margin-left: auto;
	padding: 3px;
	border: 2px solid white;
	border-style: groove;
	transition: 0.5s;
}
.tel:hover{
	transition: 0.5s;
	border-color: cyan;
	color: cyan;
}
.nav{
	display: flex;
	align-items: center;
	padding-top: 50px;
}
.hdtxt-reg{
	margin-bottom: 180px;
}
.headtxt{
	margin-top: 216px;
}
.headtxt p{
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 0.1em;
	transition: 0.5s;
}
.headtxt p:hover{
	transition: 0.5s;
	color: cyan;
	cursor: pointer;
}
.headtxt h1{
	font-size: 100px;
	transition: 0.5s;
}
.headtxt h1:hover{
	transition: 0.5s;
	color: cyan;
	cursor: pointer;
}
.headtxt a{
	margin-top: 37px;
	font-size: 17px;
	letter-spacing: 0.1em;
}
.mezhtop{
	margin-top: 110px;
}
.timeclock{
	font-size: 1.2em;
	display: flex;
	transition: 0.5s;
}
.timeclock:hover{
	transition: 0.5s;
	color: darkgoldenrod;
}
#clock{
	color: #000;
	font-weight: bold;
	margin-left: 5px;
}
.mezh{
	padding-top: 113px;
	color: #000;
}
.mezhtxt1{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	color: #000;
}
.mezhtxt1 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}
.mezhtxt1-right, .mezhtxt1-left{
	width: 565px;
}
h3, h2{
	color: #000;
	transition: 0.5s;
}
h3:hover, h2:hover{
	transition: 0.5s;
	cursor: pointer;
	color: green;
}
.mezhmedia{
	margin-top: 85px;
	display: flex;
	justify-content: space-around;
}
.mezhmedia img{
	height: 189px;
	width: 336px;
	transition: 0.5s;
	transform: scale(1.0);
	filter:blur(0.6px) drop-shadow(3px 3px darkred);
}
.mezhmedia img:hover{
	transform: scale(1.2);
	filter: blur(0px) drop-shadow(3px 3px darkred);
	transition: 0.5s;
	cursor: pointer;
}
.opgrid{
	margin: 130px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 2.5em;
	text-align: center;
}
.opgrid video{
	height: 270px;
	width: 480px;
}
.opv1{
	filter:drop-shadow(3px 3px darkred);
}
.opv2{
	filter:drop-shadow(-3px 3px darkred);
}
.opv3{
	filter:drop-shadow(3px -3px darkred);
}
.opv4{
	padding-bottom: 60px;
	filter:drop-shadow(-3px -3px darkred);
}
.opanitxt{
	background-color: white;
	color: #fff;
	height: 1010px;
	background-attachment: fixed;
	box-shadow: inset -10px -10px 15px rgb(0 0 0 / 24%), 
    			inset 10px 10px 15px rgb(70 70 70 / 28%);
}
.opani{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-self: center;
}
.opani-circle{
	width: 70px;
	height: 70px;
	background: red;
	margin-top: 400px 40px;
	position: relative;
	animation-name:opani-circle;
	animation-duration: 3.3s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-direction: alternate;
	transition: 0.5s;
	filter:drop-shadow(3px 9px silver);
}
.opani-fire{
	position: relative;
	animation-name:opani-circle;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-direction: alternate;
	transition: 0.5s;
	filter:drop-shadow(3px 9px silver);
}
.opani-fire img{
	border-radius: 50%;
	padding: 0px;
	font-size: 2em;
	animation-name: logo;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-timing-function: steps(3600);
}
.opani-fire img:hover{
	animation-name: logo;
	animation-play-state: paused;
}
.opani-inst{
	filter: invert(90%);
	padding-top: 120px;
	position: relative;
	animation-name:opani-circle;
	animation-duration: 3.15s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-direction: alternate;
	transition: 0.5s;
	filter:drop-shadow(3px 9px silver);
}
.opani-inst:hover{
	animation-name:opani-circle;
	animation-play-state: paused;
}

@keyframes opani-circle{
	0%{
		border-radius: 80%;
		transform: scale(1.0);
		left: 0%;
		margin-top: 0px;
		margin-bottom: 0%;
	}25%{
		margin-top: 200px;
		border-radius: 85%;
		transform: scale(1.105);
	}50%{
		left: -25%;
		border-radius: 90%;
		transform: scale(1.0);
	}75%{
		transform: scale(1.105);
		border-radius: 95%;
		margin-top: 200px;
	}100%{
		transform: scale(1.0);
		border-radius: 100%;
		left: 25%;
	}
}
.opanitxt1{
	height: 370px;
}
.opanitxt1 div p{
	background-color: royalblue;
	margin-left: 400px;
	width: 400px;
	font-size: 1.1em;
	padding: 5px 5px 5px 20px;
	transition: 0.5s;
	filter:drop-shadow(3px 9px silver);
}
.opanitxt1 div h3{
	color: #fff;
	padding-left: 20px;
	background-color: black;
	margin:30px 0 10px 400px;
	transition: 0.5s;
	filter:drop-shadow(3px 3px yellowgreen);
}
.opanitxt1 div h3:hover{
	transition: 0.5s;
	filter:drop-shadow(3px 3px darkgreen);
}
.sciper{
	background-color: #21bd5c;
	margin:0px 0 0px 400px;
	width: 400px;
	font-size: 1.1em;
	padding: 5px 5px 5px 20px;
	transition: 0.5s;
	filter:drop-shadow(3px 9px #c2e7f7);
}
.sciper:hover{
	transition: 0.5s;
	filter:drop-shadow(3px 6px #a6bbd5);
}
.opanitxt2{
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-top: 150px;
}
.opanivideo1 iframe{
	border-radius: 5px;
	filter:drop-shadow(3px 9px silver);
	transition: 0.5s;
}
.opanivideo2 iframe{
	margin-top: 50px;
	border-radius: 5px;
	filter:drop-shadow(3px 9px silver);
	transition: 0.5s;
}
.opanivideo1 iframe:hover, .opanivideo2 iframe:hover, .opanitxt1 div p:hover, .opani-circle:hover, .opani-fire:hover, .opani-inst:hover{
	filter:drop-shadow(3px 9px purple);
	transition: 0.5s;
	}
.sciper1:hover::after{
	content:' -> Я ищу смысл жизни';
	color: #fff;
	font-size: 1.1em;
	transition: 0.5s;
}
.sciper2:hover::after{
	content:' -> # #### ####### ';
	color: #fff;
	font-size: 1.1em;
	transition: 0.5s;
}
.sciper3:hover::after{
	content:' -> Меняйся или умри';
	color: #fff;
	font-size: 1.1em;
	transition: 0.5s;
}



.nizn{
	background: #000;
	background-attachment: fixed; 
}
.niztxt{
	padding: 50px 0 30px 0;
	color: #fff;
	display: flex;
}
.niz p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 67px;
	transition: 0.5s;
}
.niz p:hover{
	transition: 0.5s;
	color: lemonchiffon;
}
.up{
	margin-left: auto;
}
.up .upn{
	height: 35px;
	width: 35px;
	background-color: #fff;
	border-radius: 50%;
	color: purple;
	opacity: 0.6;
	transition: 0.5s;
}
.up .upn:hover{
	opacity: 1;
	transition: 0.5s;
}
.up p{
	padding-left: 7px;
}	


#show{
	transition: 0.5s;
	animation: show 1s forwards;
}
@keyframes show {
 0% {
	opacity: 0;
	transform: rotateX(-45deg) translateY(-20px);
 }
 100% {
	opacity: 1;
	transform: rotateX(0deg) translateY(0px);
 }
}
